dist: xenial
language: python

matrix:
    include:
        - python: "2.7"
        - python: "3.5"
        - python: "3.6"
        - python: "3.7"

before_install:
    - sudo apt-get install tree

install:
    - pip install -r requirements.txt

script:
    - python run_demo_md.py


